extends layout

block content
  h1= title

  form(method='post', action='/', id="newform")
    | New todo item:
    input(name='todo', id="newinput")
    button(type='submit')
      | Done

  ul(id="todolist")
    each todo, i in todos
      li
        div= todo
        form(method='post', action='/delete/' + i, id="deletething") 
          button
            | Delete